# --- Python & Backend Environment ---
backend/venv/
backend/.venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
backend/app/database.db

# --- Vector Database Storage ---
backend/chroma_db/
**/chroma_db/


.env
backend/.env
frontend/.env
frontend/.env.local

# --- Node & Frontend Environment ---
frontend/node_modules/
frontend/dist/
frontend/build/
.eslintcache

# --- System & IDE Specific ---
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log